.margin_auto{
  margin: auto;
}

.margin_top{
  margin-top: 75px;
}

.margin_top_huge{
  margin-top: 150px;
}

.margin_top_small{
  margin-top: 40px;
}

.padding_md{
  padding: 20px;
}

.button_color{
  color: #ffffff;
  background-color: #7C0334
}


.background_image{
  background: url(../../assets/imgs/back);
  background-size: cover;
}

.input_color{
  background-color: rgba(255, 255, 255, 0.72);
}
