.margin_auto{
    margin: auto;
  }
  
  .margin_top{
    margin-top: 75px;
  }
  
  .margin_top_top{
    margin-top: 88px;
  }
  
  .margin_top_more{
    margin-top: 100px;
  }
  
  .margin_top_huge{
    margin-top: 150px;
  }
  
  .margin_top_small{
    margin-top: 40px;
  }
  
  .margin_top_small_small{
    margin-top: 20px;
  }
  
  .margin_bottom{
    margin-bottom: 4px;
  }
  
  .margin_bottom_bottom{
    margin-bottom: 10px;
  }
  
  .height_button{
    height: 50px;
  }
  
  .padding_md{
    padding: 20px;
  }
  
  .button_color{
    color: #ffffff;
    background-color: #7C0334;
  }
  
  .menu_color{
    background-color: #b2044a;
  }
  
  .align{
    text-align: center;
  }
  
  .size{
    font-size: 25px;
  }
  
  .background_image{
    /*Tirei para poder testar, enxergar melhor
      background: url(../../assets/imgs/back);
      background-size: cover;*/
    background-color: grey;
  }
  
  .input_color{
    background-color: rgba(255, 255, 255, 0.72);
  }
  